@using asp_dot_net_mvc_demo.Data.ViewModels

@model UpdateOrderListVM
@{
	var orderList = Model.OrderList;
}

<h1>Update Order</h1>

<form method="post">
	@for (var orderIndex = 0; orderIndex < orderList.Count(); orderIndex++)
	{
		@Html.HiddenFor(m => m.OrderList[orderIndex].Id)
		<h1>Order ID @orderList[orderIndex].Id</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Item Id</th>
					<th>Name</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				@for (var orderItemIndex = 0; orderItemIndex < orderList[orderIndex].OrderItems.Count(); orderItemIndex++)
				{
					<tr>
						<td>
							@orderList[orderIndex].OrderItems[orderItemIndex].Id
						</td>
						<td>@orderList[orderIndex].OrderItems[orderItemIndex].Product.Name</td>
						@Html.HiddenFor(m => m.OrderList[orderIndex].OrderItems[orderItemIndex].Id)
						<td>
							@Html.EditorFor(m => m.OrderList[orderIndex].OrderItems[orderItemIndex].Quantity)
						</td>
					</tr>
				}
			</tbody>
		</table>
	}

	<button type="submit" class="btn btn-success">Update Order List</button>
</form>